{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}


{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}



<header class="site-header" role="banner">

		<div class="usagm__navbar white transparent show-nav">
			<div class="usagm__grid__full">
				<div class="usagm__grid">
					<!--<a href="{{ site.url_base }}/{% if page.language and page.language != 'english' %}{{ page.language }}/{% endif %}" class="usagm__navbar__title">{{ site_info.navbar_label }}</a>-->

					<a href="{{ site.url_base }}/{% if page.language and page.language != 'english' %}{{ page.language }}/{% endif %}" class="usagm__navbar__title" style="padding: 0 20px 0 0; border-left: 1px solid #CCC;"><img src="{{ site.url_base }}/img/logo__usagm--white.png" style="float: left; height: 41px; border-right: 1px solid #ab3636"/><span style="padding-top: 11px; display: inline-block;  padding-left: 14px;">{{ site_info.navbar_label }}</span></a>


					<div id="menuButton" class="usagm__navbar__toggle"></div>

					<nav id="main-nav" role="navigation" class="main-menu-nav">
						<ul id="main-menu" class="sm sm-clean" data-smartmenus-id="14762810590939192">

							<li><a href="{{ site.url_base }}/map.html">Map</a></li>

							<li class="usagm__navbar__comparison"><a href="javascript:void(0);" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>Networks</a>

								<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">

									<li><a href="https://www.voanews.com/p/press-freedom.html">Voice of America</a></li>
									<li><a href="https://pressroom.rferl.org/journalists-in-trouble">Radio Free Europe / Radio Liberty</a></li>
									<li><a href="{{ site.url_base }}/english/rfa/">Radio Free Asia</a></li>
									<li><a href="{{ site.url_base }}/english/mbn/">Middle East Broadcasting Network</a></li>

								</ul>

							</li>

							<li><a id="shareTwitter" title="{{ site_info.dictionary.label_twitter }}" class="social-share-link twitter" href="https://twitter.com/intent/tweet?text={{ site_info.title_short | url_encode }}{{ ': ' | url_encode }}{{ page.summary | default: site_info.description_short | url_encode }}&amp;url={{ site.url_base | url_encode }}{{ page.url | replace:'index.html','' | url_encode }}&amp;via={{ site_info.twitter_handle }}&amp;hashtags={{ site_info.hashtags | url_encode }}"><div class="social-icon"></div><span class="social-share-text">{{ site_info.dictionary.label_twitter }}</span></a></li>

							<li><a id="shareFacebook" title="{{ site_info.dictionary.label_facebook }}" class="social-share-link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url_base_social | url_encode}}{{ page.url | replace:'index.html','' | url_encode}}"><div class="social-icon"></div><span class="social-share-text">{{ site_info.dictionary.label_facebook }}</span></a></li>


						</ul>
					</nav>
				</div>
			</div>
		</div>

</header>

