/* 
//Minor styles that are only needed during production/editing process 
*/
.usagm__publish-warning {
	background-color: pink;//$color__usagm-red--dark;
	color: #FFF; 
	font-size: 14px;
	padding: 10px 5%;
	pointer-events: none;
	position: fixed;
		bottom: 0;
	width: 100%;
	z-index: 9999;

	.usagm__publish-warning__close-button {
		cursor: pointer; cursor: hand;
		float: right;
		pointer-events: auto;
	}

	.usagm__publish-warning__title {
		margin-bottom: 0;
	}

	.usagm__publish-warning__description {
		margin: 0;
	}
}