---
layout: default
---
{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}

{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}




<div class="category usagm__content" style="position: relative; z-index: 9999;">
	<div class="usagm__grid__full usagm__border-sides" style="padding-top: 45px; background-color: #FFF;">



{% if page.entity-short %}

	{% assign page_label = site.entities[ page.entity-short].nameFull %}
	<div class="usagm__grid" style="padding-bottom: 0;">
		<h3 class="usagm__label" style="margin: 15px 0 10px 0; text-align: center;">{{ page_label }}</h3>
	</div>


	{% assign counter = 0 %}
	{% assign sorted-posts = site.posts | where: "categories",page.entity-short %}
	{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
	{% for post in sorted-posts-language %}

		{% if counter == 0 %}
		<div class="usagm__grid" style="margin: 0 auto 10px auto;">
			<div class="usagm__featured-post">
				
				<a class="post-link" href="{{ site.url_base }}{{ post.url | relative_url }}" style=" text-decoration: none;">

			{% if post.image %}
				{% if post.image contains "https://gdb" %}
					<picture>
						<source srcset="{{ post.image | replace: '_w1023', '_w1280_h720' }}" media="(min-width: 992px)">
						<source srcset="{{ post.image | replace: '_w1023', '_w992_h558' }}" media="(min-width: 640px)">
						<source srcset="{{ post.image | replace: '_w1023', '_w640' }}" media="(min-width: 420px)">
						<img src="{{ post.image | replace: '_w1023', '_w420_h420' }}" alt="{{ post.alt }}" style="display: block; width: 100%; max-width: none;" />
					</picture>

				{% else %}

					<img src="{{ site.url_base }}{{ post.image }}" alt="{{ post.cutline }}" style="max-width: none; width: 100%;">

				{% endif %}
			{% else %}
					<img src="https://placehold.it/1280x720">
			{% endif %}

					<h2 class="usagm__featured-post__title">
					  {{post.title }}
					</h2>
				</a>
				<p style="">{{post.summary | strip_html }}</p>
			</div>
		</div>
		{% elsif counter == 1 %}
		<div class="usagm__grid usagm__portfolio-grid">
			<div class="usagm__grid__element usagm__portfolio-grid__item">
				<a class="post-link" href="{{ site.url_base }}{{ post.url | relative_url }}">
			{% if post.thumbnail %}
					<img src="{{ site.url_base }}/img/{{ post.thumbnail }}" alt="{%if post.cutline%}{{ post.cutline }} {% endif %}"/>
			{% else %}
				{% if post.image contains "https://gdb" %}
					<img src="{{ post.image | replace: '_w1023', '_w360' }}">
				{% else %}
					<img src="{{ site.url_base }}{{ post.image }}">
				{% endif %}
			{% endif %}
					<h3>{{ post.title | escape }} </h3>
				</a>
			</div><!--
		{% else %}
			--><div class="usagm__grid__element usagm__portfolio-grid__item">
				<a class="post-link" href="{{ site.url_base }}{{ post.url | relative_url }}">
			{% if post.thumbnail %}
					<img src="{{ site.url_base }}/img/{{ post.thumbnail }}" alt="{%if post.cutline%}{{ post.cutline }} {% endif %}"/>
			{% else %}
				{% if post.image contains "https://gdb" %}
					<img src="{{ post.image | replace: '_w1023', '_w360' }}">
				{% else %}
					<img src="{{ site.url_base }}{{ post.image }}">
				{% endif %}
			{% endif %}
					<h3>{{ post.title | escape }} </h3>
				</a>
			</div><!--

		{% endif %}
		
		{% assign counter = counter | plus: 1 %}

	{% endfor %}
		--></div>





{% else %}



		<div class="usagm__grid" style="margin: 0 auto 10px auto;">
			<div class="usagm__featured-post">
				
				<a class="post-link" href="{{ site.url_base }}" style=" text-decoration: none;">
	{% if site.categories[current_language][0].image %}
					<img src="{{ site.url_base }}{{ site.categories[current_language][0].image }}" alt="{{ site.categories[current_language][0].cutline }}" style="max-width: none; width: 100%;">
	{% else %}
					<img src="https://placehold.it/1280x720">
	{% endif %}

					<h2 class="usagm__featured-post__title">
					  {{site.categories[current_language][0].title }}
					</h2>
				</a>
				<p style="">{{site.categories[current_language][0].summary | strip_html }}</p>
			</div>
		</div>
	<div class="usagm__grid" style="margin: 0 auto 10px auto;">
<!--
{% assign counter = 0 %}
{% for post in site.categories[current_language] %}

	{% if post.categories.last != "biography" and post.categories.last != "credits" and post.categories.last != "video" %}

		{% if counter >0 %}
		 --><div class="usagm__grid__element usagm__portfolio-grid__item">
				<a class="post-link" href="{{ site.url_base }}{{ post.url | relative_url }}">
			{% if post.thumbnail %}
					<img src="{{ site.url_base }}/img/{{ post.thumbnail }}" alt="{%if post.cutline%}{{ post.cutline }} {% endif %}"/>
			{% else %}
					<img src="{{ site.url_base }}{{ post.image }}">
			{% endif %}
					<h3>{{ post.title | escape }} </h3>
				</a>
			</div><!--
		{% endif %}
	{% endif %}
	{% assign counter = counter | plus: 1 %}
{% endfor %}
		  -->

{% endif %}




		</div>
	</div>

<script type="text/javascript">
	var mode = "production";//"editing"; //"production";
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://projects.voanews.com/js/resources/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="{{site.url_base}}/js/scripts-basic.js?{{ random }}"></script>
