<!DOCTYPE html>{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}


{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}
{% assign random = site.time | date: "%s%N" %}
<html lang="{{ site_info.analytics.abbreviation }}">
{% include head.html %}

	<body class="pg-section {{ page.language | default: 'english'}}">


	{% if development_mode == false %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W72N2D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	{% endif %}




<script type="text/javascript">
	var language = "{{current_language}}";
	var projectPrefix = "{{ site.url_base }}";
</script>

<div class="usagm__project usagm__animate-intro">

{% include header.html %}



{{ content }}



{% include footer.html %}

</div><!--.usagm__project-->



	</body>

</html>
